@font-face {
  font-family: "Pretendard Variable";
  font-weight: 1 999;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/woff2/PretendardVariable.woff2")
    format("woff2-variations");
}

html,
body {
  font-family: "Pretendard Variable", sans-serif;
}
